body {
  border: 2px solid #ffff;
  padding: 100px;
  margin: 30px;
  background-image: linear-gradient(
    to right bottom,
    #3db2c4,
    #82c3de,
    #b8d4ed,
    #e2e7f7,
    #ffffff
  );
}
.content {
  padding: 10px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
form {
  text-align: center;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
.row {
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 30px;
}

.little,
sup {
  font-size: 15px;
}

.big {
  font-size: 70px;
}

.container {
  padding: 1px;
  padding: 80px 20px 2px 20px;
}
.row {
  font-size: 18px;
  padding: 20px;
}
#emoji,
#weather {
  font-size: 50px;
}
