small {
  padding: 50px;
}

.content {
  padding: 18px;
  max-width: 600px;
  display: block;
  margin: 30px auto;
  border: 2px solid #000000;
  background-image: url(img/cloud.jpg);
  border-radius: 7px;
  background-size: cover;
}

form {
  text-align: center;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

h1,
h2,
.row {
  font-family: "Raleway", sans-serif;
  text-align: left;
  line-height: 30px;
}

.little,
sup {
  font-size: 15px;
}

.big {
  font-size: 70px;
}

.container {
  padding: 1px;
  padding: 80px 20px 2px 20px;
}
.row {
  font-size: 18px;
  padding: 20px;
}
#emoji,
#weather {
  font-size: 50px;
}
